<div class="span6" ng-if="mode == 'LIST'"> 
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="min-width: 100px;">First Name</th>
            <th style="min-width: 100px;">Last Name</th>
            <th > </th>
            <th > </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="user in users">
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td><a ng-click="edit(user.id)" class="btn btn-small btn-primary">Edit</a></td>
            <td><a ng-click="delete(user.id)" class="btn btn-small btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a ng-click="add()" >Create New</a>
</div>

<div class="container" ng-if="mode == 'EDIT' || mode == 'ADD'">
    <h1 ng-if="mode == 'ADD'">Create</h1>
    <h1 ng-if="mode == 'EDIT'">Edit</h1>

    <form novalidate="novalidate" class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="firstName">First Name:</label>
            <div class="controls">
                <input type="text" id="firstName" ng-model="user.firstName"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="lastName">Last Name:</label>
            <div class="controls">
                <input type="text" id="lastName" ng-model="user.lastName"/>
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <a ng-click="save()" class="btn btn-small btn-primary">Save</a>

            </div>
        </div>
    </form>
</div>

