<form role="form" action="" method="post" class="product-form">
                                    
                                    <div class="col-lg-12">
			                        <div class="form-group">
                                    
                                    <div class="row">
                                    	<div class="col-lg-3">
			                     			<label class="form-label" >Product Name</label>
                                        </div>
                                        <div class="col-lg-8 col-lg-offset-1">
                                       		<input type="text" class="form-control col-lg-10" ng-model="product.name" />
			                        	</div>
                                    </div>
                                    
                                    <div class="row">
                                    	<div class="col-lg-3">
			                     			<label class="form-label">Product Desc</label>
                                        </div>
                                        <div class="col-lg-8 col-lg-offset-1">
                                       		<input type="text" class="form-control col-lg-10" ng-model="product.desc" />
			                        	</div>
                                    </div>
                                    
                                    
                                    <div class="row">
                                     	<div class="col-lg-2 col-lg-offset-8"><button type="submit" ng-click="addProduct()" class="btn">Submit</button></div>

                                    </div>
  							 </div>
                        </div>
                        </form>
